*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.Tic-Tac-Toe-Board{
    background-color: black;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.players{
    color: white;
}
.btns button{
    width: 125px;
    height: 125px;
    font-size: 100px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
}


.btns{
    color: white;
    text-align: center;
}

.btns table{
    border: 1px solid white;
}

