*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.Tic-Tac-Toe-Board{
    background-color: black;
    width: 600px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.players{
    color: white;
    text-align: center;
}
.players-Container{
    display: flex;
    margin-top: 20px;
    gap: 15px;
    color: black;
}
.players-Container p{
    text-decoration: underline;
    margin-top: 10px;
    font-size: large;
    color: rgb(165, 152, 152);
}
.players-Container .points{
    margin-top: 20px;
    font-size: 60px;
}
.player-Box{
    width: 200px;
    height: 200px;
    background-color: white;
}
.ties-Box{
    width: 150px;
    height: 200px;
    background-color: white;

}
.play-Again-Btn{
    width: 200px;
    height: 50px;
    font-size: 20px;
}
.btns button{
    width: 125px;   
    height: 125px;
    font-size: 100px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
}

.btns{
    color: white;
    text-align: center;
}

.btns table{
    border: 1px solid white;
}

